  <nav>
    <ul>
      <li id="to-right"></li>
      <a href="/flowerList">List of flowers</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/userRecipe">My recipes</a> <span> | </span>
      </li>
    </ul>
  </nav>



  <form method="POST" action="/edit/{{recipe._id}}">
  <label for="title">Title</label>
  <input value="{{recipe.title}}" type="text" name="title"
    id="title">

  <label for="cookingTime">Cooking
    Time</label>
  <input value="{{recipe.cookingTime}}" type="number"
    name="cookingTime" id="cookingTime">

  <label for="numberOfPeople">Number of
    people</label>
  <input value="{{recipe.numberOfPeople}}" type="number"
    name="numberOfPeople"
    id="numberOfPeople" min="1">

  <label
    for="preparation">recipe</label>
  <input value="{{recipe.preparation}}" name="preparation" rows="10"
    cols="30"
    placeholder="Your recipe here"></input>
  {{!-- //when the user submits this form, how will we pass the flower details ? --}}

  <a href="/finalRecipe/{{recipe._id}}"></a><button type="submit">Save</button>
</form>
