   <nav>
    <ul>
      <li id="to-right"></li>
      <a href="/flowerList">List of flowers</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/userRecipe">My recipes</a> <span> | </span>
      </li>
    </ul>
  </nav>
 

 <h3>{{recipe.title}}</h3> 
 <p>{{recipe.cookingTime}}</p>
 <p>{{recipe.numberOfPeople}}</p>
 <p>{{recipe.preparation}}</p>

{{#if ownerBoolean}}
<a href = "/finalRecipe/{{recipe._id}}/delete">Delete</a>
<a href = "/edit/{{recipe._id}}"><button >Edit</button>
</a>
{{/if}}