
  <nav>
    <ul>
      <li>
      <a href="/flowerList">List of flowers</a> 
      </li>

      <li>
      <a href="/userRecipe">My recipes</a> 
      </li>
    </ul>

   <li>
      <a href="/logout"><button class="butLogout">Log out</button> </a>
    </li>
  </nav>


<h3>{{recipe.title}}</h3> 
 <p>{{recipe.cookingTime}}</p>
 <p>{{recipe.numberOfPeople}}</p>
 <p>{{recipe.preparation}}</p>

{{#if ownerBoolean}}
<a href = "/finalRecipe/{{recipe._id}}/delete">Delete</a>
<a href = "/edit/{{recipe._id}}"><button >Edit</button>
</a>
{{/if}}
