<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
      <ul>

      <li id="to-right"></li>
      <a href="/flowerList">List</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/newRecipe">Make your own recipe</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/userRecipe">Favorites</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/flowerInfo">Flower list</a> <span> | </span>
      </li>
    </ul>
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

{{!-- 
<div class="recipe-full-visualizer">
        <h1>{{recipeName}}</h1>
        <div class="picturecol">{{picturesofDish}}</div>
        <div class="descriptioncol">{{description}}</div>
        <p class="prepsection">Preparation time: {{preparationTime}}</p>
        <p class="servessection">Serves: {{servings}}</p>
        <div class="ingredientstext">{{ingredients}}</div>
        <div class="stepstext">{{steps}}</div>
    </div> --}}/


</html>


<div>Info about the flowers</div>


{{#if userData}}

<p>Hello {{userData.username}}</p>

{{/if}}