<nav>
  <ul>
    <li>
      <a href="/flowerList"
        class="linkFlowerList">List of
        flowers</a>
    </li>

    <li>
      <a href="/userRecipe"
        class="linkuserRecipe">My
        recipes</a>
    </li>

    <li>
      <a href="/logout"
        class="butLogout">Log out </a>
    </li>

  </ul>


</nav>

<div class="recipeContainer">

  <div class="flowerInfo">
    
    <div class="flowerImg"><img
        src="{{flower.img}}">
    </div>

    <div class="flowerInfoText">
      <h3> {{flower.name}}</h3>
      <p>{{flower.description}}</p>
    </div>

  </div> {{!-- flowerinfo end --}}


  {{#each recipes}}
  <div class="recipe">

    <div class="recipeText">
      <a
        href="/finalRecipe/{{this._id}}">
        <p>{{this.title}}</p>
      </a>
      <p>{{this.preparation}}</p>
    </div> {{!-- recipeText end --}}

    <div>
      <img class="imgRecipe"
        src="{{this.img}}">
    </div>

  </div> {{!-- recipe end --}}
  {{/each}}

  <div class="butAddContainer">
    <a
      href="/flowerInfo/{{flower._id}}/newRecipe"><button
        class="butAddRecipe">Add a
        Recipe</button></a>
  </div> {{!-- butAddContainer end --}}

</div> {{!-- recipeContainer end --}}