<div class="flowerInfo">
  <h3>Name : {{flower.name}}</h3>
  <p>More about the flower:
    {{flower.description}}</p>
  <img src="{{flower.img}}">


<h3 class="MainTitle">[ Recipes ]</h3>

  {{#each recipes}}
  <div class="floweerImage">
    <p>{{this.title}}</p>
    <p>{{this.ingredients}}</p>
  </div>
  <div class="recipeImg">
    <img src="{{this.img}}">
  </div>
  {{/each}}

  <a
    href="/flowerInfo/{{flower._id}}/newRecipe"><button>Add
      a Recipe</button></a>

</div>