
  <h3>Name : {{flower.name}}</h3>
  <p>More about the flower:
    {{flower.description}}</p>
  <img src="{{flower.img}}">

{{#each recipes}}
<p>{{this.title}}</p>
{{/each}}
 <a href="/flowerInfo/{{flower._id}}/newRecipe"><button>Add a Recipe</button></a> 

