 <nav>
    <ul>
      <li id="to-right"></li>
      <a href="/flowerList">List of flowers</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/userRecipe">My favorite recipes</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/flowerInfo">Recipes with this flower</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/finalRecipe">Recipe Steps</a> <span> | </span>
      </li>

      
    </ul>
  </nav>


  <h3>Name : {{flower.name}}</h3>
  <p>More about the flower:
    {{flower.description}}</p>
  <img src="{{flower.img}}">

{{#each recipes}}
<p>{{this.title}}</p>
{{/each}}
 <a href="/flowerInfo/{{flower._id}}/newRecipe"><button>Add a Recipe</button></a> 

