


{{#each flowers}}
  <h3>Name : {{this.name}} </h3>
  <div class ="flowerFamilyList"><p>Family: {{this.family}} </p></div>
  <div class="flowerImgList"> <a href="/flowerInfo/{{this._id}}"><img src="{{this.img}}" ></a>
</div>
{{/each}}


{{#if userData}}
<p>Hello {{userData.username}}</p>

{{/if}}
 

